
<%= form_with(
  url: dashboard_stamp_path,
  id: "main-form",
  class: "basic-wrap mt-4 mb-4",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  }) do |f| %>
  <div class="basic-header">
    <h3 class="title">打刻</h3>
  </div>
  <hr>
  <div class="text-center">
    <div class="btn-group w-100">
      <% if @timeframe&.active? %>
        <button type="submit" class="btn btn-secondary btn-lg disabled" data-target="forms.submitButton">開始</button>
        <button type="submit" class="btn btn-primary btn-lg ml-4" data-target="forms.submitButton">終了</button>
      <% else %>
        <button type="submit" class="btn btn-primary btn-lg" data-target="forms.submitButton">開始</button>
        <button type="submit" class="btn btn-secondary btn-lg disabled ml-4" data-target="forms.submitButton">終了</button>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "timeframes/filters" %>
<%= render partial: "timeframes/grid" %>