
<div class="page-filters" data-controller="page-filters">
  <div class="rendition-types">
    <div class="dropdown">
      <a data-toggle="dropdown" data-target="#" data-controller="links" data-action="links#click" href="javascript:void(0);">
        <i class="icon-users"></i>表示切り替え
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-users"></i>Team Member Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-flag"></i>Position Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-map-marker-alt"></i>Location Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-calendar-alt"></i>Calendar</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-list"></i>List</a>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-collections">
    <a href="/timeframes/"><i class="icon-filter"></i>履歴をみる</a>
  </div>
</div>
