
<%= form_with(
  url: timeframes_path,
  id: "main-form",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  }) do |f| %>
  <div class="page-controls loading-hidden">
    <div class="center-controls">
      <div class="page-title">あなたの打刻履歴</div>
      <div class="btn-group" data-controller="date-range-picker">
        <input data-target="date-range-picker.hiddenInput" type="hidden">

        <a data-action="date-range-picker#previous" class="btn btn-default" href="javascript:void(0);"><i class="fas fa-angle-left"></i></a>
        <a class="picker btn btn-default" data-target="date-range-picker.picker" href="javascript:void(0);"><i class="fas fa-calendar-alt"></i><span data-target="date-range-picker.pickerText"></span></a>
        <div class="dropdown">
          <a data-toggle="dropdown" class="btn btn-default" href="javascript:void(0);"><%= @current.term == :week ? '週単位' : '月単位' %></a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-inner">
              <a data-action="date-range-picker#termWeek">週単位</a>
              <a data-action="date-range-picker#termMonth">月単位</a>
            </div>
          </div>
        </div>
        <a data-action="date-range-picker#next" class="btn btn-default" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "timeframes/filters" %>
<%= render partial: "timeframes/grid" %>




