<template id="user-show-modal-template">
  <%= form_with(
  url: users_update_path,
  id: "modal-form",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  }) do |f| %>
    <div class="modal-header" data-target="forms.refreshWrapper">
      編集
<%#
      <div class="button-group-field" data-controller="button-group-field">
        <a class="btn fields" data-target="button-group-field.button" data-action="button-group-field#clickButton" data-value="fields">修正</a>
        <a class="btn duplicate active" data-target="button-group-field.button" data-action="button-group-field#clickButton" data-value="duplicate">コピー</a>
      </div>
%>
    </div>

    <div class="modal-body">
      <div>
        <input name="user[id]" type="hidden" value="${ id }">
        <div class="form-row">
          <div class="form-group">
            <label>組織</label>
            <div>${ organization_name }</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>名前</label>
            <input class="form-control" type="text" name="user[name]" value="${ name }">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>メールアドレス</label>
            <input class="form-control" type="text" name="user[email]" value="${ email }">
          </div>
        </div>

<%#
        <div>
          <div class="modal-divider">削除</div>
          <div class="form-group">
            <label for="bulk_shift_form_public">打刻を削除しますか？</label>
            <div class="toggle-well">
              <div class="form-text">打刻を削除したい場合は右のボタンを有効にしてください。</div>
              <div class="toggle-field" data-controller="toggle-field">
                <input data-target="toggle-field.hiddenInput" type="hidden" value="true" name="user[delete_confirm]">
                <a class="toggle-switch on animate" data-target="toggle-field.switch" data-action="toggle-field#clickSwitch"></a>
              </div>
            </div>
          </div>
        </div>
%>
      </div>
    </div>

    <div class="modal-footer space-between">
      <button name="user[save]" value="true" type="submit" class="btn btn-blue" data-target="forms.submitButton">保存</button>
    </div>
  <% end %>
</template>
