<%= form_with(
  url: users_path,
  id: "main-form",
  class: "page-controls",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  },
) do |f| %>
  <div class="left-controls">&nbsp;
  </div>

  <div class="center-controls">
    <div class="page-title">スタッフ一覧</div>
  </div>

  <div class="right-controls">
    <input id="data-tables-filter-input" type="search" placeholder="絞り込み" class="form-control-sm mr-2">
  </div>
<% end %>
