<%= form_with(
  url: timeframes_path,
  id: "main-form",
  class: "page-controls",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  },
) do |f| %>
  <div class="left-controls">
    <div class="dropdown">
      <a data-toggle="dropdown" data-target="#" data-controller="links" data-action="links#click" href="javascript:void(0);">
        <i class="icon-users"></i>表示切り替え
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-users"></i>Team Member Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-flag"></i>Position Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-map-marker-alt"></i>Location Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-calendar-alt"></i>Calendar</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-list"></i>List</a>
        </div>
      </div>
    </div>
  </div>

  <div class="center-controls">
    <div class="page-title">あなたの打刻履歴</div>
  </div>

  <div class="right-controls">
    <div class="filter-collections">
      <a href="/timeframes/"><i class="icon-filter"></i>履歴をみる</a>
    </div>
  </div>
<% end %>
