<div class="page-body">
  <table id="example" class="table table-striped datatable" style="width:100%" role="grid" aria-describedby="example_info" data-controller="data-tables">
  <thead>
    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="名前：アクティブ化して列を降順に並べ替えます" style="width: 124px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">名前</font></font></th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="位置：アクティブにして列を昇順で並べ替えます" style="width: 205px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ポジション</font></font></th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office：アクティブ化して列を昇順で並べ替えます" style="width: 90px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">オフィス</font></font></th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="年齢：アクティブにして列を昇順で並べ替えます" style="width: 35px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">年齢</font></font></th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="開始日：アクティブ化して列を昇順で並べ替えます" style="width: 78px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">開始日</font></font></th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="給与：アクティブ化して列を昇順で並べ替えます" style="width: 69px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">給料</font></font></th></tr>
  </thead>
  <tbody>
    
  <% (1..100).each do |o| %>
  <tr role="row" class="odd">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">佐藤愛理</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">会計士</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">東京</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">33</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2008/11/28</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">162,700ドル</font></font></td>
    </tr><tr role="row" class="even">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アンジェリカ・ラモス</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最高経営責任者（CEO）</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ロンドン</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">47</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2009/10/09</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,200,000ドル</font></font></td>
    </tr><tr role="row" class="odd">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アシュトンコックス</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ジュニアテクニカルライター</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">サンフランシスコ</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">66</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2009/01/12</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">86,000ドル</font></font></td>
    </tr><tr role="row" class="even">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ブラッドリーグリア</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ソフトウェアエンジニア</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ロンドン</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">41</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2012/10/13</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">132,000ドル</font></font></td>
    </tr><tr role="row" class="odd">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ブレンデンワーグナー</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ソフトウェアエンジニア</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">サンフランシスコ</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">28</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2011/06/07</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">206,850ドル</font></font></td>
    </tr><tr role="row" class="even">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ブリエルウィリアムソン</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">統合スペシャリスト</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ニューヨーク</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">61</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2012/12/02</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">372,000ドル</font></font></td>
    </tr><tr role="row" class="odd">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ブルーノナッシュ</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ソフトウェアエンジニア</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ロンドン</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">38</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2011/05/03</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">163,500ドル</font></font></td>
    </tr><tr role="row" class="even">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">シーザーヴァンス</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">プリセールスサポート</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ニューヨーク</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">21</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2011/12/12</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">106,450ドル</font></font></td>
    </tr><tr role="row" class="odd">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">カーラ・スティーブンス</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">セールスアシスタント</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ニューヨーク</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">46</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2011/12/06</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">145,600ドル</font></font></td>
    </tr><tr role="row" class="even">
      <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">セドリックケリー</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">シニアJavascript開発者</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">エディンバラ</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2012/03/29</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">433,060ドル</font></font></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">名前</font></font></th><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ポジション</font></font></th><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">オフィス</font></font></th><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">年齢</font></font></th><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">開始日</font></font></th><th rowspan="1" colspan="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">給料</font></font></th></tr>
  </tfoot>
</table>
</div>


<template id="stamp-show-modal-template">
  <%= form_with(
  url: timeframes_update_path,
  id: "modal-form",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  }) do |f| %>
    <div class="modal-header" data-target="forms.refreshWrapper">
      修正
<%#
      <div class="button-group-field" data-controller="button-group-field">
        <a class="btn fields" data-target="button-group-field.button" data-action="button-group-field#clickButton" data-value="fields">修正</a>
        <a class="btn duplicate active" data-target="button-group-field.button" data-action="button-group-field#clickButton" data-value="duplicate">コピー</a>
      </div>
%>
    </div>

    <div class="modal-body">
      <div data-form-state="fields" data-target="form-states.formStateWrapper" class="">
        <input name="timeframe[id]" type="hidden" value="${ id }">
        <div class="form-row">
          <div class="form-group">
            <label>組織</label>
            <div>${ organization_name }</div>
          </div>
          <div class="form-group">
            <label>名前</label>
            <div>${ user_name }</div>
          </div>
        </div>

        <div class="form-row ml-1">
          <div class="date-field-wrapper">
            <div class="form-group">
              <label>開始</label>
              <div class="btn-group" data-controller="date-field">
                <input data-target="date-field.input" class="form-control" type="text" value="${ moment(in_at).format('YYYY-MM-DD') }">
                <input name="timeframe[in_date]" data-target="date-field.hiddenInput" type="hidden">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group" data-controller="time-field">
                  <input name="timeframe[in_time]" type="text" class="form-control" value="${ moment(in_at).format('HH:mm') }">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row ml-1">
          <div class="date-field-wrapper">
            <div class="form-group">
              <label>終了</label>
              <div class="btn-group" data-controller="date-field">
                <input data-target="date-field.input" class="form-control" type="text" value="${ out_at == null ? '' : moment(out_at).format('YYYY-MM-DD') }">
                <input name="timeframe[out_date]" data-target="date-field.hiddenInput" type="hidden">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group" data-controller="time-field">
                  <input name="timeframe[out_time]" type="text" class="form-control" value="${ out_at == null ? '' : moment(out_at).format('HH:mm') }">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>メモ</label>
          <textarea placeholder="" class="form-control" name="timeframe[memo]">${ memo }</textarea>
        </div>
<%#
        <div>
          <div class="modal-divider">削除</div>
          <div class="form-group">
            <label for="bulk_shift_form_public">打刻を削除しますか？</label>
            <div class="toggle-well">
              <div class="form-text">打刻を削除したい場合は右のボタンを有効にしてください。</div>
              <div class="toggle-field" data-controller="toggle-field">
                <input data-target="toggle-field.hiddenInput" type="hidden" value="true" name="timeframe[delete_confirm]">
                <a class="toggle-switch on animate" data-target="toggle-field.switch" data-action="toggle-field#clickSwitch"></a>
              </div>
            </div>
          </div>
        </div>
%>
      </div>
    </div>

    <div class="modal-footer space-between">
      <button name="timeframe[delete]" value="true" type="submit" class="btn btn-danger" data-target="forms.submitButton">削除</button>
      <button name="timeframe[save]" value="true" type="submit" class="btn btn-blue" data-target="forms.submitButton">保存</button>
    </div>
  <% end %>
</template>

<script type="text/javascript">
//   $(document).ready(function() {
//     var table = $('#example').DataTable( {
//         fixedHeader: {
//             header: true,
//             footer: true
//         }
//     } );
// } );
</script>