<p>こんにちは <%= @resource.name %> さん</p>

<p><%= Settings.app_name %>のパスワード再設定リンクを送ります。<br>
以下のリンクにアクセスしてパスワードの再設定をお願いします。
</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※ お心当たりのない場合は、お手数をおかけしますが本メールの削除をお願いいたします。<br>
※ あなたのパスワードは上記のリンクにアクセスいただくまでリセットされません。</p>
