<div class='flash-messages-wrapper' data-controller='flash-messages'></div>

<template id="flash-message-template">
  <a class="flash-message ${ type } visible" data-action="flash-messages#removeMessage" data-target="flash-messages.message"><i class="fas ${ icon }"></i><div class="message">${ message }</div></a>
</template>