<div class="modal" data-controller="modals" data-modals-preload-options="{}">
  <div class="modal-dialog">
    <button class="close" data-action="modals#close" data-target="modals.closeButton"><i class="icon-times-o"></i></button>
    <div class="modal-content" data-target="modals.modalContent"></div>
  </div>
</div>
