<div class="header-basic">
  <div class="header-menu center">
    <a class="logo" data-controller="links" data-action="links#click" href="/"><i class="fas fa-calendar-alt"></i>Shifter</a></a>
  </div>
  <div class="header-buttons">
    <%= link_to "さっそく使ってみる", users_path %>
  </div>
</div>